PORT=5050
DB_HOST=localhost
DB_USER=qr-card-admin
DB_PASS=QR-Card-Admin-2025
DB_NAME=qr_card

# PORT=4000
# DB_HOST=localhost
# DB_PORT=3306
# DB_USER=root
# DB_PASSWORD=yourpassword
# DB_NAME=qr_profiles
# JWT_SECRET=changeme
# CLIENT_URL=http://localhost:5173
